@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap')
url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap')





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #ACE4E3; */
}

header {
    background-color: #333;
    color: #ACE4E3;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


































/* 


#ACE4E3
#0B4350
#F58BCF
#003E29
#E7E6AD
 */
